h1
{
    font-size: 36pt;
    color: midnightblue;
}

h2
{
    font-size: 18pt;
    color: midnightblue;
}

body
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12pt;
    background-color: rgb(233, 255, 112);
}

*
{
    text-align: center;
}

.p1
{
    color: tomato;
}

.p2
{
    color: teal;
}

.p3
{
    color: purple;
}