header
{
    margin-bottom: 3rem;
}

p
{
    line-height: 1.6;
}

.see-all
{
    font-size: 0.8rem;
    text-transform: uppercase;
}

h1
{
    font-size: 2.5rem;
}

h2
{
    text-transform: uppercase;
    font-size: 1rem;
}

h1, h2
{
    font-weight: 300;
}

.cast img
{
    width: 100%;
}

.cast li
{
    width: 25%;
    font-size: 0.8rem;
    font-weight: bold;
}

.shows>li
{
    border-top: 1px solid black;
}

.selected a
{
    font-weight: bold;
    color: black;
}

.cast li div+div
{
    font-weight: normal;
    font-style: italic;
}

#game-of-thrones .seasons li:last-child:after
{
	content: "*";
}

#game-of-thrones .seasons:after
{
	content: "* Final Season";
	font-size: 0.7rem;
	color: #999;
}
