html {
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
}

body {
    margin: 5%;
}

h1 {
    font-size: 100px;
    color: rgb(250, 141, 40);
    line-height: 0.5;
}

h2 {
    margin-top: 5%;
    color: rgb(250, 141, 40);
}

h3 {
    color: rgb(255, 190, 130);
}

section {
    text-indent: 3rem;
    color: rgb(207, 101, 2);
    line-height: 0.6;
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

.loose {
    letter-spacing: 0.4em;
}

.tight {
    letter-spacing: -0.07em;
}

.underline {
    text-decoration: underline;
}

.line-through {
    text-decoration: line-through;
}

.overline {
    text-decoration: overline;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.capitalize {
    text-transform: capitalize;
}